
# -------------------------
# ENV FILES
# -------------------------
.env
.env.*
!.env.example


# -------------------------
# PYTHON CACHE
# -------------------------
__pycache__/
*.py[cod]
*$py.class


# -------------------------
# VIRTUAL ENV
# -------------------------
venv/
.venv/
env/
ENV/


# -------------------------
# IDEs
# -------------------------
.idea/
.vscode/


# -------------------------
# LOGS
# -------------------------
*.log
logs/


# -------------------------
# TEST / CACHE
# -------------------------
.pytest_cache/
.mypy_cache/
.coverage


# -------------------------
# ALEMBIC (keep migrations, ignore cache)
# -------------------------
alembic/__pycache__/

